* {
  margin: 0;
  padding: 0;
  font-family: "Alata", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.nav__logo-home {
  width: 150px;
}

.text-box {
  width: 90%;
  color: #fcfbe8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home__name {
  font-size: 62px;
}
.home__name--exp {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fcfbe8;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fcfbe8;
  border: 1px solid #fcfbe8;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}
.hero-btn:hover {
  border: 1px solid #2b8cc4;
  background: #2b8cc4;
  transition: all 0.5s ease-in-out;
}

/*
.copyright {
font-size: 12px;
text-align: center;
align-items:center;
color: $primary-color;
position: fixed;
line-height: 22px;
padding: 10px;
}
*/
.nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.nav--links {
  flex: 1;
  text-align: right;
}
.nav--links__item {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.menu-nav__link {
  color: #fcfbe8;
  text-decoration: none;
  font-size: 13px;
}
.menu-nav__link::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #2b8cc4;
  display: block;
  margin: auto;
  transition: all 0.5s ease-in-out;
}
.menu-nav__link:hover::after {
  width: 100%;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .home__name {
    font-size: 20px;
  }
  .nav--links__item {
    display: block;
  }
  .nav--links {
    position: absolute;
    background: #2b8cc4;
    height: 200vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: all 0.5s ease-in-out;
  }
  nav .fa {
    display: block;
    color: #fcfbe8;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav--links__items {
    padding: 30px;
  }
  /*
  .about__us {
    margin-top: 600px;
  }
  */
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .cta__heading {
    font-size: 24px;
  }
}
.services {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.services__header {
  font-size: 36px;
  font-weight: 600;
}
.services__header__exp {
  color: #2b8cc4;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.services-col {
  flex-basis: 31%;
  background: #e6e6e6;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}
.services-col__header {
  text-align: center;
  font-weight: 600;
}
.services-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.services-col p {
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
}

.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/10.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fcfbe8;
}
.sub-header__title {
  margin-bottom: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 62px;
}

.products {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.products__examples {
  font-size: 36px;
}
.products__examples-exp {
  color: #2b8cc4;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;
}
.products__examples-exp-col {
  flex-basis: 25%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.products__examples-exp-col__img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  opacity: 0.9;
}
.layer:hover {
  background: rgba(0, 200, 226, 0.815);
}
.layer .products--title {
  width: 100%;
  font-weight: 400;
  color: #fcfbe8;
  font-size: 18px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.layer:hover .products--title {
  bottom: 49%;
  opacity: 1;
}

.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}
.testimonials-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #2b8cc4;
  cursor: pointer;
  display: flex;
}
.testimonials-col__1 {
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.testimonials-col__1-user {
  padding: 0;
}
.testimonials-col__1-user--heading {
  margin-top: 15px;
  text-align: left;
}

.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgb(0, 0, 1), rgba(0, 0, 0, 0.7)), url(../img/13.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.cta__heading {
  color: #fcfbe8;
  margin-bottom: 40px;
  padding: 0;
  font-size: 36px;
}

.about__us {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  color: #2b8cc4;
  margin-top: 100px;
}
.about__us--header {
  font-weight: 600;
  font-size: 18px;
}
.about__us--header__exp {
  color: #2b8cc4;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;
}

.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../img/10.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fcfbe8;
}
.sub-header__title {
  margin-bottom: 100%;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 62px;
}

.about-us-col {
  flex-basis: 100%;
  padding: 30px 2px;
  width: 80%;
  margin: 0 50px;
}
.about-us-col__img {
  width: 550px;
  border-radius: 10px;
}
.about-us-col h1 {
  padding-top: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.about-us-col p {
  padding: 15px 0 25px;
  color: #2b8cc4;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;
  margin-left: -10px;
}
.about-us-col a {
  display: inline-block;
  text-decoration: none;
  color: #2b8cc4;
  border: 1px solid #2b8cc4;
  padding: 12px 34px;
  border-radius: 10%;
  margin-left: 30%;
}
.about-us-col a:hover {
  border: 1px solid #fcfbe8;
  background: #2b8cc4;
  color: #fcfbe8;
  transition: all 0.5s ease-in-out;
}

body {
  background: #fcfbe8;
  color: #2b8cc4;
  height: 100vh;
  line-height: 1;
}

footer .social-icons a {
  color: #2b8cc4;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}
footer .social-icons a:hover {
  color: #d88532;
}
footer .copyright {
  color: #2b8cc4;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px;
  text-align: center;
}

.fa {
  color: #2b8cc4;
  padding: 14px;
  transition: all 0.5s ease-in-out;
}
.fa:hover {
  color: #fcfbe8;
}

/*
font-size: 12px;
  position: absolute;
  bottom: 40%;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color: set-text-color($primary-color);
  *//*# sourceMappingURL=main.css.map */