.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  color: $primary-color;

  &--header {
    margin: 0px 25px;
    margin-top: 20px;
    font-weight: map-get($font-weights, medium);
    font-size: 20px;

    &__exp{
    color: $primary-color;
    font-size: 14px;
    font-weight: map-get($font-weights, regular);
    line-height: 22px;
    padding: 10px;
    }
  }

  .copyright {
    font-size: 12px;
    margin-top: 25px;
    text-align: center;
    align-items:center;
  }
}