nav .fa {
  display: none;
}

@media(max-width: 700px){
  .home__name {
    font-size: 20px;
  }
  .nav--links__item {
      display: block;
  }

  .nav--links {
    position: absolute;
    background: $primary-color;
    height: 200vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    @include transition-ease;
  }
  nav .fa {
    display: block;
    color: $secondary-color;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;  
  }
  .nav--links__items {
    padding: 30px;
  }
  /*
  .about__us {
    margin-top: 600px;
  }
  */
}



@media (max-width: 700px) {
  .row{
    flex-direction: column;
  }

  .cta__heading {
    font-size: 24px;
  }
}