@import './config';
@import './home';
@import './menu';
@import './respo';
@import './services';
@import './products';
@import './testimonials';
@import './cta';
@import './aboutus';
@import './contacts';

body {
  background: $secondary-color;
  color: $primary-color;
  height: 100vh;
  line-height: 1;
}

footer {
  

  .social-icons {
    a {
      color: $primary-color;
      text-decoration: none;
      font-size: 16px;
      @include transition-ease;
      
      &:hover {
        color: $tertiary-color;
      }
    }
  }

  .copyright {
    color: $primary-color;
    font-size: 12px;
    font-weight: map-get($font-weights, regular);
    line-height: 22px;
    padding: 10px;
    text-align: center;
  }
}

.fa {
    color: $primary-color;
    padding: 14px;
    @include transition-ease;
      &:hover {
        color: $secondary-color;
    }
  }




/*
font-size: 12px;
  position: absolute;
  bottom: 40%;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color: set-text-color($primary-color);
  */