@import './config';
@import './home';
@import './menu';
@import './respo';
@import './services';
@import './products';
@import './testimonials';
@import './cta';
@import './aboutus';

body {
  background: $secondary-color;
  color: $primary-color;
  height: 100vh;
  line-height: 1;
}

a {
  color: $secondary-color;
  text-decoration: none;
  font-size: 13px;
}

main {
  height: 100%;
  width: 100%;
}

footer {
  .social-icons {
    bottom: 0.5rem;
    left: 0.5rem;
    cursor: pointer;
    color: $primary-color;
    
    a {
      padding: 4px;
      @include transition-ease;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}