@import './config';
@import './home';
@import './menu';
@import './respo';
@import './services';
@import './products';
@import './testimonials';
@import './cta';
@import './aboutus';

body {
  background: $secondary-color;
  color: $primary-color;
  height: 100vh;
  line-height: 1;
}

a {
  color: $secondary-color;
  text-decoration: none;
  font-size: 13px;
}

main {
  height: 100%;
  width: 100%;
}

footer {
  .copyright {
    color: $primary-color;
    font-size: 14px;
    font-weight: map-get($font-weights, regular);
    line-height: 22px;
    padding: 10px;
    text-align: center;
  }
  
  .social-icons {
  color: $primary-color;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;

    a {
      padding: 4px;
      @include transition-ease;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

/*
font-size: 12px;
  position: absolute;
  bottom: 40%;
  text-align: center;
  justify-content: center;
  padding: 10px;
  color: set-text-color($primary-color);

*/
